// =============================================================================
//
// Name:          Aliases
//
// Description:   Reassign lengthy variables and mixins to shorter alternatives.
//
// =============================================================================





// Spacing units
// =============================================================================

$spacing-unit:           $tree-base-spacing-unit;
$spacing-unit--tiny:     $tree-base-spacing-unit--tiny;
$spacing-unit--small:    $tree-base-spacing-unit--small;
$spacing-unit--large:    $tree-base-spacing-unit--large;
$spacing-unit--huge:     $tree-base-spacing-unit--huge;





// Font size
// =============================================================================

@mixin font-size($args...) {
    @include tree-font-size($args...);
}

